<div class="outer">

    <div class="inner">
            <h3>Welcome to Todo-app</h3>
            <p>
                Our Todo App is designed to simplify task management and boost productivity for users of all ages. Whether you're organizing daily chores, tracking work assignments, or planning long-term goals, our app offers an intuitive and user-friendly experience to keep you on track. With features like task prioritization, due date reminders, and seamless synchronization across devices, staying organized has never been easier. Built with simplicity and functionality in mind, our app empowers you to focus on what truly matters—achieving your goals, one task at a time.</p>
    </div>

</div>
